body {
	font-family: Verdana;
}
h1 {
	font-size: 30px;
	color: #333;
}
h2 {
	font-size: 16px;
	color: #666;
}
img {
	width: 600px;
}

table {
	border-collapse: collapse;
    border: 1px solid #000;
}

th {
	color: white;
	background-color: #666;
    border: 1px solid #000;
    padding: 10px;
    font-size: 12px;
}
tbody td {
	border: 1px solid #000;
	padding: 10px;
	background-color: #fff;
}
a{
	color: blue;
	font-size: 12px;
}
p, ul, td,{
	color: #000;
	font-size: 12px;
}
tfoot td{
	color: #000;
	font-size: 12px;
	background-color: #ccc;
	padding: 10px;
}
caption {
	color: #000;
	font-size: 14px;
}